*{
    margin: 0;
    padding: 0;
}

#root{
    scrollbar-color: var(--colour-section1);
    scroll-behavior: smooth;
  font-family: "Playfair Display", serif;

}

h1, h2, h3{   font-family: "Playfair Display", serif;
}